@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>CRUD (Create/Read/Update/Delete)</p>
    <table border="1">
        <thead>
            <tr >
                <td>Name</td>
                <td>Task</td>
                <td>Begin Time</td>
                <td>End Time</td>
                <td>Update</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td>Task</td>
                <td>Begin Time</td>
                <td>End Time</td>
                <td>Update</td>
            </tr>
        </tbody>
    </table>
</div>
